<body>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12"><a href="http://imgur.com/UQNynJ1"><img src="http://i.imgur.com/UQNynJ1.png" title="source: imgur.com" /></a></div>
      <h1>tacoMyGod!</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p><a class="btn btn-primary btn-lg" href="/create-account" role="button">Create Account</a></p>
        <p><a class="btn btn-primary btn-lg" href="/sign-in" role="button">Sign In</a></p>
      </div>
    </div>
  </div>
</body>
