<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>TACOHMYGOD</title>

	<link rel="stylesheet" type="text/css" href="stylesheets/main.css" /></head>
	<link href="https://fonts.googleapis.com/css?family=Istok+Web|News+Cycle" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Cabin:400,700|Chango|Chelsea+Market|Knewave|Luckiest+Guy|Monoton|Press+Start+2P" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="../stylesheets/main.css" rel="stylesheet">
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js" charset="utf-8"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
	<script type="text/javascript">

	$(document).ready(function() {
		$('.dropdown-toggle').dropdown()
	});

	</script>

	<meta charset="utf-8">
</head>
<body>
	<header>
		<nav class="navbar navbar-default" id="navbar">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<a href="http://imgur.com/UQNynJ1"><img src="http://i.imgur.com/UQNynJ1.png" title="source: imgur.com" /></a> <a class="navbar-brand" href="/" id="navbar-brand">tacoMyGod</a>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right" id="nav-right">
					<% if(user != undefined){ %>
						<li><a href="/logout" id="log-out">log out</a>
							Hello <%= user.fb.firstName %>
						</li>
					<% }  %>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</header>
	<!-- <h1>
		<a target="_blank" href="https://www.youtube.com/watch?v=Ov8mAjlDhd8">TACOHMYGOD</a>
	</h1> -->

	<% if(user != undefined){ %>
		    <h4>You're Now A Taco God! Go forth and create...</h4>
		  <% }  %>

	<hr>

	<div class="container">
		<% if (user) { %>
			<%- include ./partials/forms/createTaco.ejs %>
		<% } else { %>
			You Need to be Logged In to Summon Tacos. <br>
			<a class ="btn" href="/auth/facebook">Login with Facebook</a>
		<% } %>

		<!-- <a class ="btn" href="#">Signup</a> -->
	</div>

	<hr>

	<div class="container">

	</div>

</body>
</html>
