body {
  font-family: 'Cabin', sans-serif;
}
/*begin tacoGallery*/

body#taco-gallery {
  background-color: #ace7a6;
}

/*taco gallery navigation bar*/
.container-fluid#navbar {
  background-color: black;
}

.navbar-default {
  background-color: black;
  border-color: black;
  border-radius: 0px;
}

a#navbar-brand {
  margin-left: 1px;
  font-family: 'Chango', cursive;
  color: #ace7a6;
  margin-top: 15px;
  margin-bottom: 15px;
}

a#navbar-brand:hover {
  color: white;
}

img#logo {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
  width: auto;
  height: 35px;
  float: left;
}

#nav-gal-right li{
  display: inline;
}

#log-out {
  color: #ace7a6;
  font-family: 'Cabin', sans-serif;
  margin: 15px 0px 15px 0px;
  padding: 15px 5px 15px 15px;
}

#log-out:hover {
  color: white;
}

#greet-user {
  color: #ace7a6;
  font-family: 'Cabin', sans-serif;
  margin: 15px 0px 15px 0px;
  padding: 15px;
}

h4#chef-title {
  font-family: 'Chango', cursive;
  font-size: 18px;
  color: black;
  float: left;
  margin-top: 15px;
}

div.card {
  background-color: black;
  border-radius: 8px;
  padding: 0px;
  margin: 15px;
  width: 30rem;
}

nav#name-bar {
  background-color: white;
  color: black;
  border-radius: 8px 8px 0px 0px;
  margin-bottom: 0px;
  border: 1px, solid, black;
}

h4#chef-title {
  font-family: 'Chango', cursive;
  font-size: 18px;
  color: black;
  float: left;
  margin-top: 15px;
  margin-left: 15px;
}

div.card-body {
  padding: 15px;
}

img#gal-thumbnail {
  width: 125px;
  height: auto;
  float: right;
  padding-top: 3em;
}

ul.card-text{
  list-style-type: none;
  padding: 0;
}

.card-text li {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  color: white;
  word-wrap: break-word;
}

a.btn {
  font-family: 'Cabin', sans-serif;
  font-size: 12px;
  background-color: white;
  color: black
}

a.btn:hover {
  background-color: #efc3e7;
}

#voting li {
  list-style-type: none;
  float: right;
  margin-top: 5px;
  color: white;
}

ul#voting {
  padding: 0;
  margin: 0;
}

li.count {
  margin-right: 3px;
}
