<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid" id="navbar">
      <img id="logo" src="../images/newtaco.png" title="taco-logo" />
      <a class="navbar-brand" href="/" id="ct-navbar-brand">tacOhMyGod</a>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% if(user != undefined){ %>
        <ul class="nav navbar-nav navbar-right" id="nav-gal-right">
          <li id="ct-greet-user">Hello, <%= user.fb.firstName %></li>
          <li><a href="/tacos" id="ct-log-out">taco gallery</a></li>
          <li><a href="/logout" id="ct-log-out">log out</a></li>
        </ul>
        <% }  %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
<h4 id="confirmation">You are now a Taco God! Go forth and create...</h4>
<div class="container text-center">
<div class="row">
  <h2><b>create your taco</b></h2>
</div>
</div>
<fieldset>
  <form method="POST" action="/tacos">
    <div class="container text-center center-block">
      <div class="row">
        <div class="col-md-6"><p><b>tortilla</b></p></div>
        <div class="col-md-6 btn-group">
          <select name="tortilla" id="dropdown">
            <option value="flour">flour</option>
            <option value="corn">corn</option>
            <option value="wheat">wheat</option>
          </select>
        </div>
      </div>
    </div>
    <div class="container text-center center-block"><hr></div>
    <div class="container text-center center-block">
      <div class="row">
        <div class="col-md-6 text-center"><p><b>eggs</b></p></div>
        <div class="col-md-6 btn-group">
          <label class="switch">
            <input name="eggs" type="checkbox" id="eggs">
            <div class="slider round" id="eggs-slider"></div>
          </label>
        </div>
      </div>
    </div>
    <div class="container text-center center-block"><hr></div>
    <div class="container text-center center-block">
      <div class="row">
        <div class="col-md-6 text-center"><p><b>meat/protein</b></p></div>
        <div class="col-md-6 btn-group">
          <select name="meat" id="dropdown">
            <option value="none" selected>none</option>
            <option value="bacon">bacon</option>
            <option value="chorizo">chorizo</option>
            <option value="sausage">sausage</option>
            <option value="sausage">soyrizo</option>
            <option value="steak">steak</option>
            <option value="chicken">chicken</option>
            <option value="al pastor">al pastor</option>
          </select>
        </div>
      </div>
    </div>
    <div class="container text-center center-block"><hr></div>
    <div class="container text-center center-block">
      <div class="row">
        <div class="col-md-6 text-center"><p><b>potatoes</b></p></div>
        <div class="col-md-6 btn-group">
          <label class="switch">
            <input name="potato" type="checkbox" id="potatoes">
            <div class="slider round" id="potatoes-slider"></div>
          </label>
        </div>
      </div>
    </div>
    <div class="container text-center center-block"><hr></div>
    <div class="container text-center center-block">
      <div class="row">
        <div class="col-md-6"><p><b>beans</b></p></div>
        <div class="col-md-6 btn-group">
          <select name="beans" id="dropdown">
            <option value="none" selected>none</option>
            <option value="pinto">pinto</option>
            <option value="black">black</option>
            <option value="refried">refried</option>
          </select>
        </div>
      </div>
    </div>
    <div class="container text-center center-block"><hr></div>
    <div class="container text-center center-block">
      <div class="row">
        <div class="col-md-6 text-center"><p><b>cheese</b></p></div>
        <div class="col-md-6 btn-group">
          <label class="switch">
            <input name="cheese" type="checkbox" id="cheese">
            <div class="slider round" id="cheese-slider"></div>
          </label>
        </div>
      </div>
    </div>
    <div class="container text-center center-block"><hr></div>
    <div class="container text-center center-block">
      <div class="row">
        <div class="col-md-6 text-center"><p><b>salsa</b></p></div>
        <div class="col-md-6 btn-group">
          <label class="switch">
            <input name="salsa" type="checkbox" id="salsa">
            <div class="slider round" id="salsa-slider"></div>
          </label>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <input class="btn btn-primary" id="submit-taco" type="submit" value="submit taco!">
    </div>
  </form>
</fieldset>
